body{
  background: gray;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align:center;
}
h2{
  margin-left: 35%;
}
input{
  border: 2px solid rgb(102, 90, 90);
  border-radius: .9em;
  padding: 6px;
}
select{
  border: 2px solid rgb(102, 90, 90);
  margin-left: 10px;
  border-radius: .9em;
  padding:5px;
}
h2{
  font-width:bold;
  font-size: 2em;
}